In [24]:
import glob
import pandas as pd
import numpy as np

In [25]:
# upload data
district = pd.read_csv('districts_info.csv')
product = pd.read_csv('products_info.csv')
path = '/Downloads/learnplatform-covid19-impact-on-digital-learning/engagement_data' 

all_files = glob.glob(path + "/*.csv")

engagement_data = []

for filename in all_files:
    district_data = pd.read_csv(filename, index_col=None, header=0)
    district_id = filename.split("/")[6].split(".")[0]
    district_data["district_id"] = district_id
    engagement_data.append(district_data)
    
engagement_df = pd.concat(engagement_data)
engagement_df["district_id"] = engagement_df["district_id"].astype(int)

In [26]:
district.head(3)

,district_id,state,locale,pct_black/hispanic,pct_free/reduced,county_connections_ratio,pp_total_raw
0,8815,Illinois,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[14000, 16000["
1,2685,NaN,NaN,NaN,NaN,NaN,NaN
2,4921,Utah,Suburb,"[0, 0.2[","[0.2, 0.4[","[0.18, 1[","[6000, 8000["

In [27]:
district.shape

(233, 7)

In [28]:
product.head(3)

,LP ID,URL,Product Name,Provider/Company Name,Sector(s),Primary Essential Function
0,13117,https://www.splashmath.com,SplashLearn,StudyPad Inc.,PreK-12,LC - Digital Learning Platforms
1,66933,https://abcmouse.com,ABCmouse.com,"Age of Learning, Inc",PreK-12,LC - Digital Learning Platforms
2,50479,https://www.abcya.com,ABCya!,"ABCya.com, LLC",PreK-12,"LC - Sites, Resources & Reference - Games & Si..."

In [8]:
product.shape

(372, 6)

In [9]:
product['Primary Essential Function'].unique()

array(['LC - Digital Learning Platforms',
       'LC - Sites, Resources & Reference - Games & Simulations',
       'LC - Courseware & Textbooks', 'LC - Study Tools - Q&A',
       'LC - Sites, Resources & Reference - Streaming Services',
       'LC - Study Tools',
       'CM - Teacher Resources - Professional Learning',
       'SDO - Learning Management Systems (LMS)',
       'LC - Content Creation & Curation',
       'LC - Sites, Resources & Reference',
       'LC - Online Course Providers & Technical Skills Development',
       'CM - Classroom Engagement & Instruction - Communication & Messaging',
       'SDO - School Management Software - SSO',
       'LC - Sites, Resources & Reference - Thesaurus & Dictionary',
       'LC/CM/SDO - Other', 'SDO - Data, Analytics & Reporting',
       'LC - Sites, Resources & Reference - Encyclopedia',
       'CM - Classroom Engagement & Instruction - Classroom Management',
       'LC - Sites, Resources & Reference - Digital Collection & Repository',
       'CM - Classroom Engagement & Instruction - Assessment & Classroom Response',
       'CM - Virtual Classroom - Video Conferencing & Screen Sharing',
       'SDO - Data, Analytics & Reporting - Site Hosting & Data Warehousing',
       nan,
       'SDO - Data, Analytics & Reporting - Student Information Systems (SIS)',
       'LC - Career Planning & Job Search', 'SDO - Human Resources',
       'SDO - School Management Software - Mobile Device Management',
       'CM - Teacher Resources - Grading & Attendance',
       'LC - Study Tools - Tutoring',
       'SDO - Large-Scale & Standardized Testing',
       'CM - Teacher Resources - Lesson Planning',
       'LC - Sites, Resources & References - Learning Materials & Supplies',
       'SDO - Admissions, Enrollment & Rostering',
       'LC - Study Tools - Test Prep & Study Skills',
       'SDO - Environmental, Health & Safety (EHS) Compliance',
       'SDO - Other'], dtype=object)

In [29]:
# Nans 
product['Primary Essential Function'] = product['Primary Essential Function'].fillna('LC/CM/SDO - Other')

In [30]:
# editing Primary Essential Function
product['PS_function_main'] = product['Primary Essential Function'].apply(lambda x: x.split(' - ')[0] if x == x else x)
product['PS_function_sub'] = product['Primary Essential Function'].apply(lambda x: x.split(' - ')[1] if x == x else x)

# Synchronize similar values
product['PS_function_sub'] = product['PS_function_sub'].replace({'Sites, Resources & References' : 'Sites, Resources & Reference'})
product.drop("Primary Essential Function", axis=1, inplace=True)

* LC = Learning & Curriculum
* CM = Classroom Management
* SDO = School & District Operations

In [31]:
product['PS_function_main'].unique()

array(['LC', 'CM', 'SDO', 'LC/CM/SDO'], dtype=object)

In [32]:
product['PS_function_sub'].unique()

array(['Digital Learning Platforms', 'Sites, Resources & Reference',
       'Courseware & Textbooks', 'Study Tools', 'Teacher Resources',
       'Learning Management Systems (LMS)', 'Content Creation & Curation',
       'Online Course Providers & Technical Skills Development',
       'Classroom Engagement & Instruction', 'School Management Software',
       'Other', 'Data, Analytics & Reporting', 'Virtual Classroom',
       'Career Planning & Job Search', 'Human Resources',
       'Large-Scale & Standardized Testing',
       'Admissions, Enrollment & Rostering',
       'Environmental, Health & Safety (EHS) Compliance'], dtype=object)

In [33]:
# adding fillters by Sectors 
sector = product['Sector(s)'].str.get_dummies(sep="; ")

In [34]:
full_product = product.merge(sector, left_index = True, right_index = True)

In [35]:
full_product = full_product.drop(columns = ['Sector(s)'])

In [36]:
full_product.head(3)

,LP ID,URL,Product Name,Provider/Company Name,PS_function_main,PS_function_sub,Corporate,Higher Ed,PreK-12
0,13117,https://www.splashmath.com,SplashLearn,StudyPad Inc.,LC,Digital Learning Platforms,0,0,1
1,66933,https://abcmouse.com,ABCmouse.com,"Age of Learning, Inc",LC,Digital Learning Platforms,0,0,1
2,50479,https://www.abcya.com,ABCya!,"ABCya.com, LLC",LC,"Sites, Resources & Reference",0,0,1

In [37]:
engagement_df.head(3)

         time    lp_id  pct_access  engagement_index  district_id
0  2020-01-01  29322.0        0.04              1.30         3188
1  2020-01-01  57084.0        0.04              0.43         3188
2  2020-01-01  99916.0        0.09              5.20         3188

In [38]:
# Where are Null values?
engagement_df.isnull().sum()

time                      0
lp_id                   541
pct_access            13447
engagement_index    5378409
district_id               0
dtype: int64

In [39]:
# Data has 22 million rows
engagement_df.shape

(22324190, 5)

In [40]:
# Merge all data sets together except data where is no any valuable information.
engagement_districts_merged = pd.merge(engagement_df, district,how="left", on="district_id")
engagement_districts_products_merged = pd.merge(engagement_districts_merged, full_product, how="left", left_on="lp_id", right_on="LP ID")

# Dropping all engagement info without a state
engagement = engagement_districts_products_merged[engagement_districts_products_merged["state"].notnull() & engagement_districts_products_merged["LP ID"].notnull()]

In [41]:
engagement.head(20)

,time,lp_id,pct_access,engagement_index,district_id,state,locale,pct_black/hispanic,pct_free/reduced,county_connections_ratio,pp_total_raw,LP ID,URL,Product Name,Provider/Company Name,PS_function_main,PS_function_sub,Corporate,Higher Ed,PreK-12
67430,2020-01-01,32213.0,0.41,18.49,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",32213.0,https://classroom.google.com,Google Classroom,Google LLC,SDO,Learning Management Systems (LMS),1.0,1.0,1.0
67431,2020-01-01,51340.0,0.07,6.85,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",51340.0,https://www.grammarly.com/,Grammarly,Grammarly,LC,Study Tools,1.0,1.0,1.0
67432,2020-01-01,49062.0,0.07,6.16,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",49062.0,http://www.quia.com/web,Quia Web,IXL Learning,LC,Digital Learning Platforms,0.0,0.0,1.0
67433,2020-01-01,99916.0,0.41,10.27,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",99916.0,https://drive.google.com/start,Google Drive,Google LLC,LC/CM/SDO,Other,1.0,1.0,1.0
67434,2020-01-01,95731.0,0.68,47.26,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",95731.0,http://docs.google.com/,Google Docs,Google LLC,LC,Content Creation & Curation,1.0,1.0,1.0
67435,2020-01-01,76649.0,0.00,NaN,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",76649.0,https://clever.com/,Clever,Clever,SDO,School Management Software,0.0,0.0,1.0
67436,2020-01-01,69863.0,0.07,2.74,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",69863.0,https://chrome.google.com/webstore,Chrome Web Store,Google LLC,LC/CM/SDO,Other,1.0,1.0,1.0
67437,2020-01-01,11206.0,0.07,0.68,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",11206.0,http://www.google.com/earth/,Google Earth,Google LLC,LC,"Sites, Resources & Reference",1.0,1.0,1.0
67438,2020-01-01,64998.0,0.00,NaN,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",64998.0,http://web.stmath.com/,ST Math,MIND Research Institute,LC,Digital Learning Platforms,0.0,0.0,1.0
67439,2020-01-01,80144.0,0.07,0.68,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",80144.0,https://www.quora.com/,Quora,Quora,LC,Study Tools,1.0,1.0,1.0
67440,2020-01-01,28504.0,0.00,NaN,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",28504.0,http://google.com/sheets/about/,Google Sheets,Google LLC,LC/CM/SDO,Other,1.0,1.0,1.0
67441,2020-01-01,36620.0,0.07,19.18,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",36620.0,https://www.disneyplus.com/,Disney+,Disney,LC,"Sites, Resources & Reference",0.0,1.0,1.0
67442,2020-01-01,90153.0,0.21,3.42,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",90153.0,https://www.netflix.com/,Netflix,Netflix,LC,"Sites, Resources & Reference",1.0,1.0,1.0
67443,2020-01-01,47267.0,0.00,NaN,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",47267.0,http://www.classdojo.com/,ClassDojo,"ClassDojo, Inc.",CM,Classroom Engagement & Instruction,0.0,0.0,1.0
67444,2020-01-01,92918.0,0.07,0.68,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",92918.0,https://www.usnews.com/best-colleges/myfit,College Compass,"U.S. News & World Report, L.P.",LC/CM/SDO,Other,0.0,0.0,0.0
67445,2020-01-01,64947.0,0.07,3.42,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",64947.0,http://www.desmos.com,Desmos,Desmos,LC,Study Tools,0.0,1.0,1.0
67448,2020-01-02,83862.0,0.00,NaN,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",83862.0,http://www.raz-kids.com/,Raz-Kids,Learning A-Z,LC,Digital Learning Platforms,0.0,0.0,1.0
67449,2020-01-02,83270.0,0.14,2.05,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",83270.0,https://artsandculture.google.com/,Google Arts & Culture,Google LLC,LC,"Sites, Resources & Reference",0.0,1.0,1.0
67450,2020-01-02,69429.0,0.00,NaN,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",69429.0,http://wordpress.com/,WordPress,WordPress,SDO,"Data, Analytics & Reporting",1.0,1.0,1.0
67453,2020-01-02,60051.0,0.00,NaN,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",60051.0,https://www.bigideasmath.com,Big Ideas Math,Big Ideas Learning,LC,Courseware & Textbooks,0.0,0.0,1.0

In [42]:
# Checking the Null values
engagement.isnull().sum()

time                              0
lp_id                             0
pct_access                     5846
engagement_index            1825936
district_id                       0
state                             0
locale                            0
pct_black/hispanic                0
pct_free/reduced            1387433
county_connections_ratio     755602
pp_total_raw                2900755
LP ID                             0
URL                               0
Product Name                      0
Provider/Company Name             0
PS_function_main                  0
PS_function_sub                   0
Corporate                         0
Higher Ed                         0
PreK-12                           0
dtype: int64

In [43]:
# Finally data has 9 million rows
engagement.shape

(9139701, 20)

In [44]:
# editing a columns names
engagement = engagement.drop(columns = ['LP ID'])

In [45]:
engagement = engagement.rename(columns = str.lower)

In [46]:
engagement.columns = engagement.columns.str.replace('/','_')

In [47]:
engagement.columns = engagement.columns.str.replace(' ','_')

In [48]:
engagement.columns = engagement.columns.str.replace('-','_')

In [49]:
engagement.head(3)

,time,lp_id,pct_access,engagement_index,district_id,state,locale,pct_black_hispanic,pct_free_reduced,county_connections_ratio,pp_total_raw,url,product_name,provider_company_name,ps_function_main,ps_function_sub,corporate,higher_ed,prek_12
67430,2020-01-01,32213.0,0.41,18.49,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",https://classroom.google.com,Google Classroom,Google LLC,SDO,Learning Management Systems (LMS),1.0,1.0,1.0
67431,2020-01-01,51340.0,0.07,6.85,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",https://www.grammarly.com/,Grammarly,Grammarly,LC,Study Tools,1.0,1.0,1.0
67432,2020-01-01,49062.0,0.07,6.16,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000[",http://www.quia.com/web,Quia Web,IXL Learning,LC,Digital Learning Platforms,0.0,0.0,1.0

In [50]:
engagement.dtypes

time                         object
lp_id                       float64
pct_access                  float64
engagement_index            float64
district_id                   int64
state                        object
locale                       object
pct_black_hispanic           object
pct_free_reduced             object
county_connections_ratio     object
pp_total_raw                 object
url                          object
product_name                 object
provider_company_name        object
ps_function_main             object
ps_function_sub              object
corporate                   float64
higher_ed                   float64
prek_12                     float64
dtype: object

In [51]:
# data types 
engagement['lp_id'] = engagement['lp_id'].astype(int)

In [63]:
engagement[['corporate','higher_ed','prek_12']] = engagement[['corporate','higher_ed','prek_12']].astype(int)

In [64]:
# CSV_file 
engagement.to_csv('engagemen_full.csv')

In [ ]:
# Upload data to MySQL directly
from sqlalchemy import create_engine, types

engine = create_engine(‘mysql://root:Is04@localhost/bi_marathon_test_’) # enter your password and database names here

engagement.to_sql(‘temp_table’,con=engine,index=False,if_exists=‘append’) # Replace Table_name with your sql table name